<!-- views/dynamic-template.ejs -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dynamic EJS Template</title>
  </head>
  <body>
    <h1><%= data.message %></h1>
    <p>This content is rendered dynamically with EJS.</p>
    <p>Current date and time: <%= data.date %></p>
  </body>
</html>
